<!DOCTYPE html>
<html lang="en" th:replace="fragments/page::html(~{::title},~{::main})">
<title>Contacts - Add</title>
<main>
    <form method="post" th:action="@{/contacts/add}">
        <table>
            <tr th:replace="fragments/contacts::formRow('First name','text','firstName', '')"></tr>
            <tr th:replace="fragments/contacts::formRow('Last name','text','lastName', '')"></tr>
            <tr th:replace="fragments/contacts::formRow('Job title','text','jobTitle', '')"></tr>
            <tr th:replace="fragments/contacts::formRow('Company','text','company', '')"></tr>
        </table>

        <div class="btn-container">
            <input type="submit" value="Add">
        </div>
    </form>

</main>
</html>